<form
  *ngIf="boardGamesForm"
  (submit)="createNewBoardGame()"
  [formGroup]="boardGamesForm"
  class="form"
>
  <label for="title">{{"FORM.TITLE" | translate | uppercase}}</label>
  <input type="text" id="title" formControlName="title" />
  <p
    *ngIf="boardGamesForm.get('title')?.dirty
  && boardGamesForm.get('title')?.errors?.['required']
"
  >
    {{"FORM.ERRORS.TITLEREQUIRED" | translate | uppercase}}
  </p>
  <label for="publisher">Editorial</label>
  <input type="text" id="publisher" formControlName="publisher" />
  <p
    *ngIf="boardGamesForm.get('publisher')?.dirty
  && boardGamesForm.get('publisher')?.errors?.['required']
"
  >
      {{"FORM.ERRORS.PUBLISHERREQUIRED" | translate | uppercase}}
  </p>
  <label for="designer">{{"FORM.DESIGNERS" | translate | uppercase}}</label>
  <input type="text" id="designer" formControlName="designer" />
  <p
    *ngIf="boardGamesForm.get('designer')?.dirty
  && boardGamesForm.get('designer')?.errors?.['required']
"
  >
     {{"FORM.ERRORS.DESIGNERREQUIRED" | translate | uppercase}}
  </p>
  <label for="year">{{"FORM.LAUNCHYEAR" | translate | uppercase}}</label>
  <input type="text" id="year" formControlName="year" />
  <p
    *ngIf="boardGamesForm.get('year')?.dirty
  && boardGamesForm.get('year')?.errors?.['required']
"
  >
     {{"FORM.ERRORS.LAUNCHYEARREQUIRED" | translate | uppercase}}
  </p>
  <p
    *ngIf="boardGamesForm.get('year')?.errors?.['min']
"
  >
    {{"FORM.ERRORS.LAUNCH1895" | translate | uppercase}}
  </p>
  <p
    *ngIf="boardGamesForm.get('year')?.errors?.['max']
"
  >
    {{"FORM.ERRORS.LAUNCH2023" | translate | uppercase}}
  </p>
  <label for="picture">{{"FORM.IMAGE" | translate | uppercase}}</label>
  <input type="text" id="picture" formControlName="picture" />
  <label for="category">{{"FORM.CATEGORY" | translate | uppercase}}</label>
  <select formControlName="category">
    <option default value="">Categoría</option>
    <option *ngFor="let category of categoriesEl" [value]="category">
      {{ category }}
    </option>
  </select>
  <label for="players">{{"FORM.PLAYERS" | translate | uppercase}}</label>
  <select formControlName="players">
    <option default value="">Nº Jugadores</option>
    <option *ngFor="let player of numberPlayersEl" [value]="player">
      {{ player }}
    </option>
  </select>
  <label for="weight">{{"FORM.WEIGHT" | translate | uppercase}}</label>
  <input type="text" id="weight" formControlName="weight" />
  <p
    *ngIf="boardGamesForm.get('weight')?.dirty
  && boardGamesForm.get('weight')?.errors?.['required']
"
  >
    {{"FORM.ERRORS.WEIGHTREQUIRED" | translate | uppercase}}
  </p>
  <p
    *ngIf="boardGamesForm.get('weight')?.errors?.['min']
"
  >
   {{"FORM.ERRORS.WEIGHT1" | translate | uppercase}}
  </p>
  <p
    *ngIf="boardGamesForm.get('weight')?.errors?.['max']
"
  >
  {{"FORM.ERRORS.WEIGHT5" | translate | uppercase}}
</p>
  <label for="playingTime">{{"FORM.PLAYING" | translate | uppercase}}</label>
  <select formControlName="playingTime">
    <option default value="">Duración de Partida</option>
    <option *ngFor="let time of playingTimeEl" [value]="time">
      {{ time }}
    </option>
  </select>
  <label for="isForAdults">{{"FORM.CHILDS" | translate | uppercase}}</label>
  <input type="checkbox" id="isForAdults" formControlName="isForChilds" />
  <button type="submit" class="send">
    {{ canEdit ? "EDIT" : "ADD" }}
  </button>
</form>
