<div class="game">
  <p class="game__title">{{ boardGame?.title }}</p>
  <img [src]="boardGame?.picture" alt="BoardGame Image" class="game__image"/>
  <div class="game__category">
    <div class="game__category_name">
      <p>Categoria:</p>
      <p>{{boardGame?.category?.name}}</p>
    </div>
    <div class="game__category_desc">
      <p>Descripcion:</p>
      <p>{{boardGame?.category?.description}}</p>
    </div>
  </div>
  <div class="game__designer">
    <ul>
      <p>Diseñadores:</p>
      <li *ngFor="let designer of boardGame?.designer">{{ designer }}</li>
    </ul>
  </div>
  <p>Editorial: {{ boardGame?.publisher }}</p>
  <p>Año Lanzamiento: {{ boardGame?.year }}</p>
  <p>Número Jugadores: {{ boardGame?.players }}</p>
  <p>Duración partida: {{ boardGame?.playingTime }}</p>
  <p>Dificultad: {{ boardGame?.weight }}</p>
  <p>¿Es para niños?:  {{ boardGame?.isForChilds === true ? 'Si!!' : '¡NO!' }}</p>
</div>

<button (click)="backToList()" class="send">Volver al Listado</button>
