@import "../../../styles/styles.scss";
.game {
  p {
    color: $color-tertiary;
    font-size: 20px;
  }
  ul{
    padding: 0px;
  }
  flex-direction: column;
  font-family: "Dinosaur";
  color: #00416a;
  display: flex;
  align-items: center;
  text-align: center;
  &__title {
    margin-bottom: 45px;
    text-align: center;
    font-size: 25px;
  }
  &__image {
    width: 50%;
    max-height: 800px;
    border-radius: 20%;
    margin: auto;
  }
  &__image:hover {
    transform: scale(1.1);
  }
  &__designer {
    text-align: center;
    &_list :nth-child(1n + 2) {
      list-style: none;
      color: $color-tertiary;
    }
    &_item {
      display: flex;
      gap: 10px;
    }
  }
  &__category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    &_name :last-child {
      color: $color-tertiary;
      font-style: italic;
    }
    &_desc :nth-child(2) {
      color: $color-tertiary;
      font-style: italic;
      font-size: 14px;
    }
  }
}
.send {
  margin: 30px;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  text-align: center;
  font-family: "Dinosaur";
  font-size: 14px;
  color: #fff;
  background-color: $color-primary;
  padding: 20px 40px;
  border: 2px solid $color-primary;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  cursor: pointer;
}
.send:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: $color-primary;
  border: solid 2px $color-primary;
}
