@import "../../../styles/styles.scss";
.game {
  p {
    color: $color-tertiary;
    font-size: 10px;
  }
  ul {
    padding: 0px;
    margin: 0px;
  }
  h4 {
    font-size: 15px;
  }
  flex-direction: column;
  font-family: "Dinosaur";
  color: #00416a;
  display: flex;
  align-items: center;
  text-align: center;
  &__title {
    text-align: center;
    font-size: 15px;
  }
  &__image {
    width: 35%;
    max-height: 800px;
    border-radius: 20%;
    margin: auto;
  }
  &__image:hover {
    transform: scale(1.1);
  }
  &__designer {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_list li {
      list-style: none;
      font-size: 10px;
      color: $color-tertiary;
    }
    &_item {
      display: flex;
      gap: 10px;
    }
  }
  &__category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &_name :last-child {
      color: $color-tertiary;
      font-style: italic;
    }
    &_desc :nth-child(2) {
      color: $color-tertiary;
      font-style: italic;
      
    }
  }
}
.send {
  margin: 30px;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  text-align: center;
  font-family: "Dinosaur";
  font-size: 14px;
  color: #fff;
  background-color: $color-primary;
  padding: 20px 40px;
  border: 2px solid $color-primary;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  cursor: pointer;
}
.send:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: $color-primary;
  border: solid 2px $color-primary;
}

@media screen and (min-width: 762px) {
  .game {
    flex-direction: row;
    align-items: baseline;
    .gameWrapImage {
      flex-basis: 70%;
      .game__title {
        font-size: 40px;
      }
      .game__image {
        height: 400px;
        width: 400px;
      }
    }
    &__category{
      &_desc:nth-child(2){
        width: 50%;
      }
    }
    .gameWrapData {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      margin-top: 100px;
    }
    &__category {
      align-items: flex-start;
      text-align: initial;
    }

    p {
      font-size: 15px;
      margin: 5px;
      margin-left: 0px;
    }
    h4 {
      font-size: 20px;
      margin: 0px;
    }
    li {
      font-size: 15px;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 45px;
    }
  }
  .gameButton{
    display: flex;
    justify-content: center;
  }
}
