@import "../../../styles//styles.scss";
.form {
  margin-top: 100px;
  color: $color-primary;
  font-size: 30px;
  font-family: "Dinosaur";
  padding: 50px 0px 150px 0px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  input::placeholder{
    color: $color-tertiary;
  }
  &__area {
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 200px;
    height: 100px;
    transition: all 0.2s;
  }

  &__area:hover {
    cursor: pointer;
    background-color: #eeeeee;
  }

  &__area:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
  }
}
