<header class="header">
  <nav>
    <ul>
      <li>
        <a 
        (click) = 'selectedRoute()'
        [ngClass]="{'header__active': currentRoute === '/home'}"
        [routerLink]="['home']">Home</a>
      </li>
      <li>
        <a 
        (click) = 'selectedRoute()'
        [ngClass]="{'header__active': currentRoute === '/list'}"
        [routerLink]="['list']">Listado Juegos</a>
      </li>
      <li>
        <a
        (click) = 'selectedRoute()'
        [ngClass]="{'header__active': currentRoute === '/contact'}"
        [routerLink]="['contact']">Contacto</a>
      </li>
    </ul>
  </nav>
</header>

