@import "../../../../styles/styles.scss";

:host{
  position: relative;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #f46b45, #eaba77);
  height: 60px;
  padding: 2em 2em 2em 1em;
  font-family: 'Dinosaur';
  color: $color-primary;
  &__box {
    width: 10%;
    display: flex;
    align-items: center;
    gap: 10px;
    p{
      font-size: 20px;
    }
    &_logo {
      height: 50px;
    }
  }
  &__list {
    list-style: none;
    &_item {
      text-decoration: none;
      color: $color-primary;
      font-family: 'Dinosaur';
    }
  }
  &__active {
    color: $color-tertiary;
  }
}
.select{
  font-family: 'Dinosaur';
  color: $color-primary;
  background-color: #eaba77;
  border: 0px;
}
@media screen and (min-width: 762px) {
  .header__list{
    display: flex;
    &_item{
      padding: 10px;
    }
  }
}
