
<div class="game">
    <p>{{ boardGame?.title }}</p>
    <img [src]="boardGame?.picture === null ? 'https://res.cloudinary.com/dpyvlsksj/image/upload/v1677149866/1366_2000_nw4yhd.jpg' : boardGame?.picture"  alt="BoardGame Image" class="game__image" (click)="navigateToDetail()"/>
    <div class="game__data">
      <div class="game__data_publisher">
        <p>{{"MYGAMES.PUBLISHER" |translate | uppercase}}:</p>
        <p>{{ boardGame?.publisher }}</p>
      </div>
      <div class="game__data_year">
        <p>{{"MYGAMES.LAUNCHYEAR" |translate |uppercase}}:</p>
        <p>{{ boardGame?.year }}</p>
      </div>
    </div>
    <div class="game__button">
      <button (click)="editBoardGame()" class="send">{{"MYGAMES.EDIT" |translate |uppercase}}</button>
      <button (click)="removeBoardGame()" class="delete">{{"MYGAMES.REMOVE" |translate |uppercase}}</button>
    </div>
  </div>
  