<form *ngIf="userForm" [formGroup]="userForm"(submit)="login()">
  <fieldset class="form">
    <legend>{{ "LOGIN.LOGIN" | translate | uppercase}}</legend>
    <div class="form__email">
      <label for="email">{{ "LOGIN.EMAIL" | translate | uppercase}}</label>
      <input type="text" id="email" formControlName="email" />
      <p
        *ngIf="userForm.get('email')?.dirty
          && userForm.get('email')?.errors?.['required']
          "
      >
      {{ "LOGIN.ERRORS.EMAILREQUIRED" | translate | uppercase}}
      </p>
      
    </div>
    <div class="form__password">
      <label for="password">{{ "LOGIN.PASSWORD" | translate | uppercase}}</label>
      <input type="password" id="password" formControlName="password" />
      <p
        *ngIf="userForm.get('password')?.dirty
          && userForm.get('password')?.errors?.['required']
          "
      >
      {{ "LOGIN.ERRORS.PASSWORDREQUIRED" | translate | uppercase}}
      </p>
    </div>
    <p
        *ngIf="errors"
      >
        {{errors}}
      </p>
    <games-button></games-button>
  </fieldset>
</form>


