<form
  *ngIf="boardGamesForm"
  (submit)="createNewBoardGame()"
  [formGroup]="boardGamesForm"
  class="form"
>
  <label for="title">Título</label>
  <input type="text" id="title" formControlName="title" />
  <p
    *ngIf="boardGamesForm.get('title')?.dirty
  && boardGamesForm.get('title')?.errors?.['required']
"
  >
    El título es requerido
  </p>
  <label for="publisher">Editorial</label>
  <input type="text" id="publisher" formControlName="publisher" />
  <p
    *ngIf="boardGamesForm.get('publisher')?.dirty
  && boardGamesForm.get('publisher')?.errors?.['required']
"
  >
    La editorial es requerida
  </p>
  <label for="designer">Diseñador</label>
  <input type="text" id="designer" formControlName="designer" />
  <p
    *ngIf="boardGamesForm.get('designer')?.dirty
  && boardGamesForm.get('designer')?.errors?.['required']
"
  >
    El diseñador es requerido
  </p>
  <label for="year">Año Lanzamiento</label>
  <input type="text" id="year" formControlName="year" />
  <p
    *ngIf="boardGamesForm.get('year')?.dirty
  && boardGamesForm.get('year')?.errors?.['required']
"
  >
    El año de lanzamiento es requerido
  </p>
  <p
    *ngIf="boardGamesForm.get('year')?.errors?.['min']
"
  >
    El año no puede ser inferior a 1895
  </p>
  <p
    *ngIf="boardGamesForm.get('year')?.errors?.['max']
"
  >
    El año no puede ser superior a 2023
  </p>
  <label for="picture">Imagen</label>
  <input type="text" id="picture" formControlName="picture" />
  <label for="category">Categoría</label>
  <select formControlName="category">
    <option default value="">Categoría</option>
    <option *ngFor="let category of categoriesEl" [value]="category">
      {{ category }}
    </option>
  </select>
  <label for="players">Nº Jugadores</label>
  <select formControlName="players">
    <option default value="">Nº Jugadores</option>
    <option *ngFor="let player of numberPlayersEl" [value]="player">
      {{ player }}
    </option>
  </select>
  <label for="weight">Dificultad</label>
  <input type="text" id="weight" formControlName="weight" />
  <p
    *ngIf="boardGamesForm.get('weight')?.dirty
  && boardGamesForm.get('weight')?.errors?.['required']
"
  >
    La dificultad es requerida
  </p>
  <p
    *ngIf="boardGamesForm.get('weight')?.errors?.['min']
"
  >
    La dificultad no puede ser inferior a 1
  </p>
  <p
    *ngIf="boardGamesForm.get('weight')?.errors?.['max']
"
  >
  La dificultad no puede ser superior a 5
</p>
  <label for="playingTime">Duración Partida</label>
  <select formControlName="playingTime">
    <option default value="">Duración de Partida</option>
    <option *ngFor="let time of playingTimeEl" [value]="time">
      {{ time }}
    </option>
  </select>
  <label for="isForAdults">¿Es para niños?</label>
  <input type="checkbox" id="isForAdults" formControlName="isForChilds" />
  <button type="submit" class="send">
    {{ canEdit ? "Editar producto" : "Crear producto" }}
  </button>
</form>
