<form
  *ngIf="userForm"
  [formGroup]="userForm"
  (submit)="register()"
>
  <fieldset class="form">
    <legend>{{ "REGISTER.REGISTER" | translate | uppercase}}</legend>
    <div class="form__email">
      <label for="email">{{ "REGISTER.EMAIL" | translate | uppercase}}</label>
      <input type="text" id="email" formControlName="email" />
      <p
        *ngIf="userForm.get('email')?.dirty
      && userForm.get('email')?.errors?.['required']
      "
      >
      {{ "REGISTER.ERRORS.EMAILREQUIRED" | translate | uppercase}}
      </p>
      <p
        *ngIf="userForm.get('email')?.dirty
      && userForm.get('email')?.errors?.['email']
      "
      >
      {{ "REGISTER.ERRORS.EMAILFORMAT" | translate | uppercase}}
      </p>
    </div>
    <div class="form__password">
      <label for="password">{{ "REGISTER.PASSWORD" | translate | uppercase}}</label>
      <input type="password" id="password" formControlName="password" />
      <p
        *ngIf="userForm.get('password')?.dirty
      && userForm.get('password')?.errors?.['required']
      "
      >
      {{ "REGISTER.ERRORS.PASSWORDREQUIRED" | translate | uppercase}}
      </p>
      <p
        *ngIf="userForm.get('password')?.dirty
      && userForm.get('password')?.errors?.['minlength']
      "
      >
      {{ "REGISTER.ERRORS.PASSWORDFORMAT" | translate | uppercase}}
      </p>
    </div>
    <div class="form__nickname">
      <label for="nickname">{{ "REGISTER.NICKNAME" | translate | uppercase}}</label>
      <input type="text" id="nickname" formControlName="nickname" />
      <p
        *ngIf="userForm.get('nickname')?.dirty
      && userForm.get('nickname')?.errors?.['required']
      "
      >
      {{ "REGISTER.ERRORS.NICKNAMEREQUIRED" | translate | uppercase}}
      </p>
    </div>
    <div class="form__picture">
      <label for="picture">{{ "REGISTER.AVATAR" | translate | uppercase}}</label>
      <input type="text" id="picture" formControlName="picture" />
    </div>
    <div class="form__age">
      <label for="age">{{ "REGISTER.AGE" | translate | uppercase}}</label>
      <input type="text" id="age" formControlName="age" />
      <p
        *ngIf="userForm.get('age')?.dirty
      && userForm.get('age')?.errors?.['min']
      "
      >
      {{ "REGISTER.ERRORS.AGEFORMAT10" | translate | uppercase}}
      </p>
      <p
        *ngIf="userForm.get('age')?.dirty
      && userForm.get('age')?.errors?.['max']
      "
      >
      {{ "REGISTER.ERRORS.AGEFORMAT90" | translate | uppercase}}
      </p>
      <p
        *ngIf="userForm.get('age')?.dirty
      && userForm.get('age')?.errors?.['required']
      "
      >
      {{ "REGISTER.ERRORS.AGEREQUIRED" | translate | uppercase}}
      </p>
    </div>
    <games-button></games-button>
  </fieldset>
</form>

