<main class="main">
    <h1 class="main__title">BIENVENIDO A LA BIBLIOTECA DE JUEGOS DE MESA</h1>
    <h3 class="main__subtitle">Conviérte en un miembro friki más de nuestra familia adentrandote en el maravilloso mundo de los juegos de mesa</h3>
    <p class="main__paragraph">¿Eres Eurogamer? ¿Ameritrasher? ¿Te gustan las cartitas y los deckbuilding? No importa! Aquí descubrirás una amplia gama de juegos para todos los jugadores y edades.</p>
    <h4 class="main__subtitle">¿Qué puedes hacer?</h4>
    <ul class="main__list">
        <li class="main__list_item">Ver el Listado de Juegos</li>
        <li class="main__list_item">Acceder a la ficha personalizada de cada juego</li>
        <li class="main__list_item">Editar/Añadir Juegos de Mesa mediante un Formulario</li>
        <li class="main__list_item">Escribirme un mail con sugerencias sobre la web</li>
    </ul>
    <div class="main__box">
        <img src="https://res.cloudinary.com/dpyvlsksj/image/upload/v1675861973/boardgameHome_pzpnic.jpg" alt="Home Image" class="main__box_image">
    </div>
</main>
