<main>
    <h1>BIENVENIDO A LA BIBLIOTECA DE JUEGOS DE MESA</h1>
    <h3>Conviérte en un miembro friki más de nuestra familia adentrandote en el maravilloso mundo de los juegos de mesa</h3>
    <p>¿Eres Eurogamer? ¿Ameritrasher? ¿Te gustan las cartitas y los deckbuilding? No importa! Aquí descubrirás una amplia gama de juegos para todos los jugadores y edades.</p>
    <h4>¿Qué puedes hacer?</h4>
    <ol>
        <li>Ver el Listado de Juegos</li>
        <li>Acceder a la ficha personalizada de cada juego</li>
        <li>Editar/Añadir Juegos de Mesa mediante un Formulario</li>
        <li>Escribirme un mail con sugerencias sobre la web</li>
    </ol>
    <img src="https://res.cloudinary.com/dpyvlsksj/image/upload/v1675861973/boardgameHome_pzpnic.jpg" alt="Home Image">
</main>
