<main class="main">
    <h1 class="main__title">{{ "HOME.TITLE" | translate | uppercase}}</h1>
    <h3 class="main__subtitle">{{ "HOME.SUBTITLE" | translate | uppercase}}</h3>
    <p class="main__paragraph">{{ "HOME.DESCRIPTION" | translate | uppercase}}</p>
    <h4 class="main__subtitle">{{ "HOME.TODO" | translate | uppercase}}</h4>
    <ul class="main__list">
        <li class="main__list_item">{{ "HOME.LIST1" | translate | uppercase}}</li>
        <li class="main__list_item">{{ "HOME.LIST2" | translate | uppercase}}</li>
        <li class="main__list_item">{{ "HOME.LIST3" | translate | uppercase}}</li>
        <li class="main__list_item">{{ "HOME.LIST4" | translate | uppercase}}</li>
    </ul>
    <div class="main__box">
        <img src="https://res.cloudinary.com/dpyvlsksj/image/upload/v1675861973/boardgameHome_pzpnic.jpg" alt="Home Image" class="main__box_image">
    </div>
</main>
