<footer class="divFooter">
  <div class="footer">
    <div class="footer__logo">
      <img
        src="https://res.cloudinary.com/dpyvlsksj/image/upload/v1676237655/bgg_apsl5x.jpg"
        alt="Footer Logo"
      />
      <p>Board Game List</p>
    </div>
    <div class="footer__copyright">
      <p>Web realizada por:</p>
      <p>Torresmald</p>
    </div>
    <div class="footer__rrss">
      <p>SÍGUEME</p>
      <a href="https://github.com/torresmald" target="_blank">
        <span class="fa-brands fa-github"></span>
      </a>
      <a href="https://www.linkedin.com/in/torresmald/" target="_blank">
        <span class="fa-brands fa-linkedin"></span>
      </a>
      <a href="https://twitter.com/torresmald" target="_blank">
        <span class="fa-brands fa-twitter"></span>
      </a>
    </div>
  </div>
</footer>
