<div class="game">
  <p>{{ boardGame?.title }}</p>
  <img [src]="boardGame?.picture" alt="BoardGame Image" class="game__image" (click)="navigateToDetail()"/>
  <div class="game__data">
    <div class="game__data_publisher">
      <p>{{ "LIST.PUBLISHER" | translate | uppercase}}</p>
      <p>{{ boardGame?.publisher }}</p>
    </div>
    <div class="game__data_year">
      <p>{{ "LIST.LAUNCHYEAR" | translate | uppercase}}</p>
      <p>{{ boardGame?.year }}</p>
    </div>
  </div>
  <div class="game__button">
    <button (click)="editBoardGame()" class="send">{{ "LIST.EDIT" | translate | uppercase}}</button>
    <button (click)="removeBoardGame()" class="delete">{{ "LIST.DELETE" | translate | uppercase}}</button>
  </div>
</div>
